html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(26, 27, 30);
  color: rgba(203, 203, 203, 1);
  font-family: "JetBrains Mono";
  font-size: 18px;
  line-height: 1.5;
}

html>body {
  margin: 0 auto;
  max-width: 768px;
}

html>body a {
  color: rgb(213, 255, 218);
  text-decoration: none;
  border-bottom: 1px solid rgb(213, 255, 218);
}

html>body>strong {
  font-weight: 700;
}

html>body section {
  margin: 0 2ch;
  padding: 2rem 2ch;
}

html>body section p.abstract {
  font-size: 125%;
}

html>body section>p {
  margin: 0;
}

html>body section>p+p {
  margin-top: 2ch;
}

html>body section+section {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
