html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(26, 27, 30);
  color: rgba(203, 203, 203, 1);
  font-family: "JetBrains Mono";
  font-size: 18px;
  line-height: 1.5;
}

html > body {
  margin: 0;
}

html > body > strong {
  font-weight: 700;
}

html > body main {
  margin: 0 2ch;
  padding: 1rem 2ch;
}
